@model IndexViewModel

<div class="row">
    <div class="col-md-3">
        <h2>Registered Employees</h2>
        <ul>
            @foreach (var emp in @Model.Employees)
            {
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">@emp.Name</a></li>
            }
        </ul>
    </div>
</div>
