@model IndexViewModel

<div class="row">
    <div class="col-md-3">
        <h2>Registered Employees</h2>
        <ul>
            @foreach (var emp in @Model.Employees)
            {
                <li><a href="Home/Form/@emp.Id">@emp.Name</a></li>
            }
            @if (@Model.Employees.Count == 0)
            {
                <li>No data available</li>
            }
        </ul>
    </div>
</div>
